.conlist img{
    width: 40px;
    
    margin-right: 15px;
    padding: 5px;
}
.conlist img:hover{
    /* filter: invert(1); */
    
     border: 2px solid black;
     border-radius: 50%;
   

}
.conlist div{
    /* list-style: none; */
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    
}

#contact{
    margin:20px;
    display: flex;
    /* background-color: aqua; */
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50vw;
}

 h1{
    font-size: 55px;
    font-weight: bold;
    margin:20px 0px;
    color: rgb(61, 60, 60);
}

@media screen and (max-width: 510px) {
    h1{
        font-size: 40px;
    }
    .conlist img{
        width: 30px;
        
        margin-right: 15px;
        padding: 5px;
    }

    .conlist div{
       font-size: 15px;
        
    }

    #contact{
        flex-wrap: wrap;
    }

}